<div class="main-page-section-container">
  <img ngSrc="/assets/images/xray-illustration.jpg" width="650" height="650" priority alt="X-Ray image" />

  <section class="main-page-info-section">
    <h2>Find out important information just by uploading X-Ray scan</h2>

    <p>
      Get an instant preliminary diagnosis of chest diseases with our web app. Simply upload an X-ray image and
      artificial intelligence will provide important information that can help you make decisions in your medical
      practice.
    </p>

    <button mat-raised-button routerLink="/analyses">Proceed with MedSight</button>

    <p class="main-page-details-text">
      Ready to take the first step towards faster diagnostics? Upload your image now!
    </p>
  </section>
</div>

<div class="main-page-section-container">
  <section class="main-page-info-section">
    <h2>What's happening with you?</h2>

    <p>
      Not feeling well? Our chest X-ray analysis service can help you understand what's going on. Upload your images to
      get helpful hints for your medical evaluation and possible treatment.
    </p>

    <p>We are here to help you make informed decisions for your health.</p>
  </section>

  <img ngSrc="/assets/images/xray-afterhelp.jpg" width="750" height="500" priority alt="Helping the patient" />
</div>
