<div class="main-page-section-container">
  <img ngSrc="/assets/images/xray-illustration.jpg" width="650" height="650" priority alt="X-Ray image" />

  <section class="main-page-info-section">
    <h2>Find out important information just by uploading X-Ray scan</h2>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aliquid aspernatur autem dicta
      distinctio dolorem enim, eveniet facilis in labore libero minima molestiae praesentium quaerat, quam quasi quis
      quo quos recusandae repellendus soluta, ut vel voluptatibus voluptatum? Odio, rerum!
    </p>

    <button mat-raised-button routerLink="/analyses">Proceed with MedSight</button>

    <p class="main-page-details-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, magni.</p>
  </section>
</div>

<div class="main-page-section-container">
  <section class="main-page-info-section">
    <h2>What's happening with you?</h2>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto consectetur cumque facere non numquam
      ratione. Alias assumenda atque debitis delectus libero necessitatibus nihil non obcaecati provident, ratione rerum
      sint soluta suscipit! Ex officiis, ut.
    </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit ipsam iusto quis sunt vero? Accusamus.</p>
  </section>

  <img ngSrc="/assets/images/xray-afterhelp.jpg" width="750" height="500" priority alt="Helping the patient" />
</div>
