<footer class="footer">
  <span>&copysr; MedSight. All rights reserved</span>

  <nav class="contacts-form">
    <ul class="footer-contacts-list">
      <li class="footer-contact-container">
        <mat-icon>phone</mat-icon>
        <a class="footer-link" href="tel:+12345678">+12345678</a>
      </li>
      <li class="footer-contact-container">
        <mat-icon>email</mat-icon>
        <a class="footer-link" href="mailto:youremail@gmail.com">youremail&#64;gmail.com</a>
      </li>
    </ul>
  </nav>
</footer>
