<section class="analysis-card">
  <div class="analysis-info">
    <header class="analysis-header">
      <span class="analysis-result">{{ analysis().result }}</span>

      <span class="analysis-creation-date">{{ formattedDate() }}</span>
    </header>

    <div class="analysis-description-section">
      @for (results of analysis().description | keyvalue; track results.key) {
        <mat-expansion-panel>
          <mat-expansion-panel-header collapsedHeight="65">
            {{ results.key | titlecase }}
          </mat-expansion-panel-header>

          <div class="analysis-descriptions">
            @for (description of results.value | keyvalue; track description.key) {
              <mat-divider />
              <div class="analysis-description-container">
                <h4 class="analysis-section-subtitle">{{ description.key | titlecase }}</h4>

                @if (isDescriptionArray(description.value)) {
                  <mat-list>
                    @for (listItem of description.value; track $index) {
                      <mat-list-item>
                        <mat-icon matListItemIcon>arrow_right</mat-icon>
                        <p matListItemLine>
                          <span>{{ listItem }}</span>
                        </p>
                      </mat-list-item>
                    }
                  </mat-list>
                } @else {
                  <span class="analysis-result-description">{{ description.value }}</span>
                }
              </div>
            }
          </div>
        </mat-expansion-panel>
      }
    </div>
  </div>

  <div class="analysis-image-container">
    <img class="analysis-image" [src]="analysis().image_url" alt="" />
  </div>
</section>
