.private-header {
  background-color: #faf9fd;
  border-bottom: 1px solid #b6b6b9;
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
}

.private-header-logo {
  color: #282b36;
  font-size: 1.5rem;
}

.private-header-menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
