/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

body,
div,
form,
p,
span,
section,
button,
dd,
dl,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
fieldset {
  font-family: Inter, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.page-content {
  flex: 1;
}
