/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

body,
div,
form,
p,
span,
section,
button,
dd,
dl,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
fieldset {
  font-family: Inter, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #282b36;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.page-content {
  flex: 1;
}

.mdc-snackbar .mat-mdc-snack-bar-label,
.mdc-snackbar .mdc-button__label {
  color: #ffffff;
}

.skeleton-loader {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;

  min-height: 1.5rem;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
