:host {
  width: 100%;
  max-width: 24rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 2rem;
  border-left: 1px solid #b6b6b9;

  --image-upload-region-height: 16rem;
  --preview-image-size: 16rem;
}

.image-upload-upload-section {
  position: relative;
  height: var(--image-upload-region-height);
}

.image-upload-region {
  position: absolute;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  background-color: #ffffff;

  border: 1px dashed #b6b6b9;
  border-radius: 1.5rem;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.image-upload-region-hover {
  border: 1px dashed #005cbb;
}

.image-upload-button {
  width: 100%;
}

.image-upload-text {
  font-weight: 500;
  font-size: 0.9rem;
}

.image-upload-preview-image-container {
  position: absolute;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
}

.image-upload-preview-image {
  width: 100%;
  height: var(--preview-image-size);
  object-fit: contain;
}

@keyframes region-disappear {
  0% {
    height: var(--image-upload-region-height);
  }

  100% {
    visibility: hidden;
    height: 0;
    padding: 0;
  }
}

@keyframes region-appear {
  0% {
    height: 0;
  }

  100% {
    display: block;
    height: var(--preview-image-size);
  }
}
