<mat-card class="change-password-card">
  <form class="change-password-form" [formGroup]="changePasswordForm" (ngSubmit)="handleFormSubmit()">
    <h2 class="change-password-title">Change your password</h2>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Password" formControlName="password" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Repeat Password</mat-label>
      <input matInput type="password" placeholder="Repeat Password" formControlName="repeatPassword" />
    </mat-form-field>

    <button mat-raised-button [disabled]="changePasswordForm.invalid">Change your password</button>
  </form>
</mat-card>
